@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/Coolvetica/CoolveticaRg.otf") format("opentype");
  font-weight: 100;
}

.nav {
  z-index: 999999;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Coolvetica", sans-serif;
}


.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide-active {
  position: relative;
  top: -90px !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: 50% !important;
  transform: translateY(-50%) !important;
  color: #fff;
  background-color: #00FFAD;
  border-radius: 50%;
  padding: 40px;
  z-index: 999999 !important;
}

.swiper-button-next {
  right: -200px !important;
  color: white !important;
}

.swiper-button-prev {
  left: -200px !important;
  color: white !important;
}



.clip-path-close {
  clip-path: inset(45% 51% 54% 50%);
}

.clip-path-open {
  clip-path: inset(0 0 0 0);
}